.login {
    display: flex;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 18px;
    align-items: center;
    padding: 4px 30px;
    font-size: 32px;
    max-width: 183.7px;
    gap: 5px;
}

.btn__icon {
    max-height: 22px;
    height: auto;
    width: auto;
}

.nav__link {
    font-size: 20px;
    color: var(--blue);
    transition: color .4s;
}

.nav__link:hover {
    color: var(--lagune);
}

.nav__link:active {
    color: var(--orange);
}

#to__header {
    top: 89%;
    left: 95%;
    position: fixed;
    z-index: 2;
    transition: bottom 0.3s ease;
}

.rate__link {
    transition: 0.4s;
}

.rate__link:hover {
    color: var(--lagune);
}

.rate__link:active {
    color: var(--orange);
}

@media (max-width: 1500px) {
    .login {
        font-size: 28px;
        padding: 4px 25px;
    }
    .nav__link {
        font-size: 16px;
    }
}

@media (max-width: 1400px) {
    #to__header {
        left: 93%;
    }
}

@media (max-width: 1200px) {
    .login {
        font-size: 24px;
        padding: 2px 18px;
        border-radius: 14px;
    }
}

@media (max-width: 1024px) {
    .login {
        font-size: 20px;
        padding: 2px 14px;
        border-radius: 14px;
        
    }
    .nav__link {
        font-size: 14px;
    }
    .btn__icon {
        padding: 2px 0;
    }
}

@media (max-width: 850px) {
    .login {
        font-size: 18px;
    }
}

@media (max-width: 850px) {
    .login {
        font-size: 14px;
        padding: 1px 10px;
        border-radius: 12px;
    }
    .btn__icon {
        padding: 4px 0;
    }
}

@media (max-width: 850px) {
    .nav__link {
        font-size: 12px;
    }
}