.login {
    display: flex;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 18px;
    align-items: center;
    padding: 4px 30px;
    font-size: 32px;
    max-width: 183.7px;
    gap: 3px;
}

.loginSvg {
    margin-left: 10px;
}

.nav__link {
    font-size: 20px;
    color: var(--blue);
    transition: color .4s;
}

.nav__link:hover {
    color: var(--lagune);
}

.nav__link:active {
    color: var(--orange);
}

#to__header {
    top: 89%;
    left: 95%;
    position: fixed;
    z-index: 1;
    transition: bottom 0.3s ease;
}

.rate__link {
    transition: 0.4s;
}

.rate__link:hover {
    color: var(--lagune);
}

.rate__link:active {
    color: var(--orange);
}