.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h__desc {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.description__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 164%;
    text-align: center;
    max-width: 1200px;
}

.serv__h {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    margin: 150px 0 60px 0;
}

.swiper {
    max-width: 722px;
}

.feedback {
    margin: 200px 0 0 0;
}

.feedback__h {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.feedback__comment {
    margin-top: 60px;
    background-color: var(--doblue);
    border-radius: 40px;
}

.head__text {
    padding-top: 23px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

/* Оценка */

.from__comment {
    max-width: 470px;
    margin: 70px 0 0 0;
    padding: 0 0 60px 60px;
}

.rating {
    margin: 0 0 30px 60px;
    display: inline-block;
    user-select: none;
}

.star {
    color: transparent;
    -webkit-text-stroke: 1px #FFE101;
    cursor: pointer;
    font-size: 40px;
}

.star.hover,
.star.selected {
    color: #ffdd00;
    text-shadow:
        0 0 5px #ffdd00,
        0 0 10px #ffdd00,
        0 0 20px #ffdd00,
        0 0 30px #ffae00,
        0 0 40px #ffae00,
        0 0 50px #ffae00,
        0 0 60px #ffae00;
}



.input-container {
    max-width: 340px;
}

.input-label {
    display: block;
    margin: 0 auto 10px 25px;
    font-weight: 400;

}

.input-field {
    width: 100%;
    padding: 10px 12px;
    font-size: 20px;
    border: 2px solid var(--blue);
    border-radius: 18px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    color: white;
}

.input-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.like__img {
    position: relative;
    border-radius: 10px;
}

.rate__send {
    left: 178px;
    bottom: 52px;
    position: relative;
    font-weight: 700;
    font-size: 40px;
    -webkit-text-stroke: 2px var(--blue);
    z-index: 1;
}