.face {
    display: flex;
    max-width: 1070px;
    margin: 0 auto;
    font-weight: 700;
}

.logo3D {
    background-color: gray;
    max-width: 515px;
    max-height: 290px;
    margin-right: 50px;
}

.face__h {
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
}

.face__text {
    line-height: 45px;
}


.how__work {
    margin: 0 auto;
    max-width: 876px;
}

.ul__howWork {
    display: grid;
    margin-top: 40px;
    list-style: disc;
    grid-gap: 30px;
}

.advantages {
    max-width: 1000px;
    margin: 60px auto 0 auto;
}

.advantages__list {
    display: flex;
    text-align: center;
    margin-top: 45px;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.advantages__icon {
    margin: 0 auto;
}

.list__h {
    font-weight: 700;
    font-size: 32px;
}

.advantages__card {
    max-width: 410px;
    width: 100%;
}

.games__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.game {
    padding: 4px;
    border: 3px solid #00aeff17;
    border-radius: 8px;
    transition: 0.4s;
    background-color: var(--dark-blue);
    position: relative;
    z-index: 3;
}

.game:hover {
    transform: scale(1.07);
    border: 3px solid #25baffcb;
    transition: 0.3s;
    position: relative;
    z-index: 4;
    box-shadow: 0 0 5px #25baffcb;
}

.share__list {
    display: flex;
    flex-wrap: wrap;
    gap: 82px;
}

.share__card {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    max-width: 430px;
}

.p_share {
    font-weight: 400;
    font-size: 32px;
    line-height: 200%;
}

@media (max-width: 1471px) {
    .games__list {
        justify-content: center;
    }
    .list__h {
        font-size: 30px;
    }
    .advantages__card {
        font-size: 18px;
    }
    .game {
        width: 32%;
    }
    .share__list {
        gap: 40px;
        justify-content: center;
    }
    .share__card {
        font-size: 36px;
        max-width: 338px;
    }
    .p_share {
        font-size: 24px;
        line-height: 180%;
    }
}

@media (max-width: 1200px) {
    .face__h {
        font-size: 44px;
    }
    .face__text {
        font-size: 18px;
        line-height: 40px;
    }
    .logo3D {
        width: 47%;
    }
    .how__work {
        font-size: 16px;
        padding: 0 40px;
    }
    .advantages__icon {
        max-height: 130px;
    }
    .list__h {
        font-size: 28px;
    }
    .advantages__card {
        font-size: 16px;
    }
    .share__card {
        font-size: 30px;
        max-width: 272px;
    }
    .p_share {
        font-size: 20px;
        line-height: 170%;
    }
}

@media (max-width: 910px) {
    .face {
        flex-direction: column;
        max-width: 600px;
        text-align: center;
    }
    .logo3D {
        width: 100%;
        margin: 0 auto 0 auto ;
    }
    .face__h {
        margin-top: 40px;
    }
    .advantages__icon {
        max-height: 120px;
    }
    .list__h {
        font-size: 26px;
    }
    .advantages__card {
        font-size: 14px;
    }
    .advantages__list {
        gap: 35px 20px;
    }
}

@media (max-width: 870px) {
    .advantages__icon {
        max-height: 110px;
    }
    .list__h {
        font-size: 24px;
    }
    .advantages__card {
        font-size: 12px;
        max-width: 306px;
    }
    .advantages__list {
        gap: 20px 10px;
    }
}

@media (max-width: 700px) {
    .how__work {
        font-size: 14px;
    }
    .advantages__icon {
        max-height: 100px;
    }
    .list__h {
        font-size: 20px;
    }
    .advantages__card {
        font-size: 10px;
        max-width: 238px;
    }
    .share__list {
        gap: 25px;
    }
    .share__card {
        font-size: 22px;
        max-width: 147px;
    }
    .p_share {
        font-size: 9px;
        line-height: 150%;
    }
}

@media (max-width: 550px) {
    .face {
        padding: 0 20px;
    } 
    .face__h {
        font-size: 38px;
        margin-bottom: 25px;
    }
    .face__text {
        font-size: 16px;
        line-height: 40px;
    }
    .advantages__icon {
        max-height: 90px;
    }
    .list__h {
        font-size: 16px;
    }
    .advantages__card {
        font-size: 9px;
        max-width: 190px;
    }
    .games__list {
        gap: 5px;
    }
    .game {
        width: 31%;
    }
}

@media (max-width: 425px) {
    .how__work {
        font-size: 12px;
        padding: 0 20px;
    }
    .ul__howWork {
        gap: 28px;
    }
    .face__h {
        font-size: 36px;
        margin-bottom: 18px;
    }
    .face__text {
        line-height: 30px;
    }

    .advantages__icon {
        max-height: 70px;
    }
    .list__h {
        font-size: 12px;
    }
    .advantages__card {
        font-size: 6px;
        max-width: 143px;
    }
}

@media (max-width: 375px) {
    .how__work {
        font-size: 10px;
        padding: 0 15px;
    }
    .ul__howWork {
        gap: 20px;
    }
    .face__h {
        font-size: 32px;
    }
    .face__text {
        font-size: 14px;
        line-height: 25px;
    }
    .advantages__icon {
        max-height: 50px;
    }
    .list__h {
        font-size: 10px;
    }
    .advantages__card {
        max-width: 121px;
    }
}